{% extends 'base.html' %}
{% load static %}
{% block title %}
    Netflix-home
{% endblock title %}

{% block others %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock others %}
    
{% block content %}
    <header class="column" style="background-image:url(/static/images/background_netflix.jpg)"><br><br>
        <div class="container">
            <h1 class="row">
                Unlimited movies, TV shows, and more.
            </h1>
            <h3 class="row">
                Watch anywhere. Cancel anytime.
            </h3>
            <h4 class="row">
                Ready to watch? Enter your email to create or restart your membership.
            </h4>

            <div class="w-full flex justify-center">
                <div class="flex justify-center items-center w-11/12 md:w-10/12">
                    <input type="email" name="" id="" placeholder="Email address" class="md:py-5 py-4 px-2 placeholder-gray-500 rounded-tl-l rounded-bl-sm outline-none  text-gray-900 bg-gray-50 block w-8/12 md:w-3/4">
                    <a href='./account/signup.html' class='md:w-1/4'>
                    
                        <button class="btn btn-danger font-medium md:font-normal flex justify-center items-center py-4 px-2 md:px-0 rounded-br-sm rounded-tr-sm md:text-2xl">
                            <span>
                                Get Started
                            </span>
                            <ion-icon name="chevron-forward-outline" class="text-2xl"></ion-icon>
                        </button>
                    </a><br><br>
                </div>
            </div>
        </div>
    </header>

    <section class='image'>
        <div>
            <h1>
                Enjoy on your TV.
            </h1>
            <h3>
                Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.
            </h3>
        </div>
        <div>
            <img src="/static/images/tv.png" class="w-8/12" alt="">
        </div>
    </section>

    <section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 70vh;">

        <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10">
            <h1 class="md:text-5xl text-4xl font-semibold mb-4">
                Download your shows to watch offline.
            </h1>
            <h3 class="md:text-xl text-lg">
                Save your favorites easily and always have something to watch.
            </h3>
            <div class='md:w-1/2 flex justify-center items-center '>
                <img src="/static/images/mobile-0819.jpg" class="w-8/12" alt="">
            </div><br>
        </div>
        
    </section>

    <section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 70vh;">
        <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10">
            <h1 class="md:text-5xl text-4xl font-semibold mb-4">
                Create profiles for kids.
            </h1>
            <h3 class="md:text-xl text-lg">
                Send kids on adventures with their favorite characters in a space made just for them—free with your membership.
            </h3>
        </div>
        <div class='flex justify-right items-center'>
            <img src="/static/images/netflix_kid.png" class="w-8/12" alt="">
        </div>
    </section>
    <footer class="footer">
        <ul class="footer">
            
            <li>&copy; 2022</li><br>
            <li> Made with Great Minds Association</li>
        </ul>
    </footer>


{% endblock content %}