{% load static %}
<nav class="flex text-gray-100 justify-between items-center py-3 px-4 fixed w-full z-50">
        <div>
            <a href='/'>
            <img src="/static/images/netflix.png" alt="logo" class="logo"><br>
            </a>
        </div>

        {% if AUTH != 'false'  %}
            {% if request.user.is_authenticated %}
            <div>
            <form action="./account/login.html" method="post">
                {% csrf_token %}
                <button class='button'>
                    Logout
                </button>
            </form>
            </div>
            {% else %}
                <div>
                    <a href="./account/login.html">
                    <button class='button'>
                    Sign In 
                    </button>
                    </a>
                </div>
            {% endif %}
        {% endif %}
</nav>