{% extends '../base.html' %}
    {% load static %}
    {% block title %}
    
    Netflix - Login
    {% endblock title %}
    
    {% block others %}
    
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    {% endblock others %}
{% block content %}
   
    {% include 'navbar.html' with AUTH='false' %}
    <header>
        <div>
            <form method='POST' class="login" >
                <h1>
                    Log In
                </h1>
                {% csrf_token %}
                
                {% if form.errors %}
                <div class=" text-center my-4 text-primary_red">
                
                <p class="text-primary_red ">
                    
                    {{form.non_field_errors}}
                </p>
               
                   
                </div>
                {% endif %}
                <div> 
                    <Label class='text-lg font-medium mb-3'>
                        Email
                    </Label>
                    <input type="email" name="login" id="id_login" placeholder="Your Email">
                </div>
                <div class='my-3'> 
                    <Label>
                        Password
                    </Label>
                    <input type="password" name="password" id="id_password" placeholder="Password">
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div>
                    <button>
                        Log In
                    </button>
                </div>

                <div class="text-center my-4">
                    <p>
                        Do not have account <a href="./signup.html" class="text-blue-600"> Sign Up</a>
                    </p>
                </div>
            </form>
        </div>
    </header>
{% endblock content %}